<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.reimbursement.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.reimbursement.Logout</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>addReceipt</display-name>
  	<servlet-name>addReceipt</servlet-name>
  	<servlet-class>com.reimbursement.addReceipt</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>iniciateTrip</display-name>
  	<servlet-name>iniciateTrip</servlet-name>
  	<servlet-class>com.reimbursement.iniciateTrip</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SummarizeTrip</display-name>
  	<servlet-name>SummarizeTrip</servlet-name>
  	<servlet-class>com.reimbursement.SummarizeTrip</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>iniciateConfig</display-name>
  	<servlet-name>iniciateConfig</servlet-name>
  	<servlet-class>com.reimbursement.iniciateConfig</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Reconfigure</display-name>
  	<servlet-name>Reconfigure</servlet-name>
  	<servlet-class>com.reimbursement.Reconfigure</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>CheckRatesAndLimit</display-name>
  	<servlet-name>CheckRatesAndLimit</servlet-name>
  	<servlet-class>com.reimbursement.CheckRatesAndLimit</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RateAndLimitDao</display-name>
  	<servlet-name>RateAndLimitDao</servlet-name>
  	<servlet-class>com.reimbursement.dao.RateAndLimitDao</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>EditReceipts</display-name>
  	<servlet-name>EditReceipts</servlet-name>
  	<servlet-class>com.reimbursement.EditReceipts</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>IniciateEditReceipts</display-name>
  	<servlet-name>IniciateEditReceipts</servlet-name>
  	<servlet-class>com.reimbursement.IniciateEditReceipts</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteType</display-name>
  	<servlet-name>DeleteType</servlet-name>
  	<servlet-class>com.reimbursement.DeleteType</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AddType</display-name>
  	<servlet-name>AddType</servlet-name>
  	<servlet-class>com.reimbursement.AddType</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>SaveData</display-name>
  	<servlet-name>SaveData</servlet-name>
  	<servlet-class>com.reimbursement.SaveData</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addReceipt</servlet-name>
  	<url-pattern>/addReceipt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>iniciateTrip</servlet-name>
  	<url-pattern>/iniciateTrip</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SummarizeTrip</servlet-name>
  	<url-pattern>/SummarizeTrip</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>iniciateConfig</servlet-name>
  	<url-pattern>/iniciateConfig</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Reconfigure</servlet-name>
  	<url-pattern>/Reconfigure</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckRatesAndLimit</servlet-name>
  	<url-pattern>/CheckRatesAndLimit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RateAndLimitDao</servlet-name>
  	<url-pattern>/RateAndLimitDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditReceipts</servlet-name>
  	<url-pattern>/EditReceipts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IniciateEditReceipts</servlet-name>
  	<url-pattern>/IniciateEditReceipts</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteType</servlet-name>
  	<url-pattern>/DeleteType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddType</servlet-name>
  	<url-pattern>/AddType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SaveData</servlet-name>
  	<url-pattern>/SaveData</url-pattern>
  </servlet-mapping>
</web-app>